<div class="snack-bar">
    <div elem="icons">
      <mat-icon *ngIf="data.status === 'healthy'" fill="red"></mat-icon>
      <mat-icon *ngIf="data.status === 'error'"></mat-icon>
      <mat-icon *ngIf="data.status === 'information'"></mat-icon>
      <span *ngIf="data.status === 'loading'" class="buttonDownload"></span>
      <span *ngIf="data.status === 'uploading'" class="buttonDownload uploadIcon"></span>
    </div>
  
    <div *ngIf="data.description || data.message" elem="description">
      <h3 *ngIf="data.message">{{data.message}}</h3>
      <p *ngIf="data.description">{{data.description}}</p>
    </div>
    <div *ngIf="data.closable" elem="close">
      <div (click)="close()"><mat-icon>cancel</mat-icon></div>
    </div>
  </div>
  
