
<div block = "cityViewMainPage">
    <div elem = "header"> 
        <div elem = "hederTitle"> City Viewer</div>
    </div>
    <div elem = "searchFilter"> 
        <div elem = "title"> Search Filters</div>
        <app-city-search-filter (searchSubmit) = "onSearch($event)"></app-city-search-filter>
    </div>
    <div elem = "mainCityGrid">
        <ngx-datatable class="material"
        [rows]="dataSource"
        [columnMode]="'force'"
        [headerHeight]="50" 
        [footerHeight]="50"
        [rowHeight]="50" 
        [scrollbarV]="true"
        [columns]="columns">
      
        <ngx-datatable-column elem="column" *ngFor="let col of columns; let i = index"
        [width]="col.width"
        [name]="col.name"
        [prop]="col.prop"
        [cellTemplate]="col.cellTemplate"
        [headerTemplate]="col.headerTemplate"
        [frozenLeft]="col.frozenLeft">
      </ngx-datatable-column>

      <ng-template #viewMenuTmpl let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
        <mat-icon  (click)="goToEditCityInfo(row)">visibility</mat-icon>
        <mat-icon (click)="goToUploadDocumnt()">file_upload</mat-icon>
     </ng-template>
      
      </ngx-datatable>
    </div>
</div>
