::ng-deep .upload-pane {
	.close {
		display: block;
		height: 25px;
		width: 17.5px;
		float: right;
		height: 17.5px;
		color: #000;
	}
	.mat-input-element {
		color: #01070f;
	}
	.header-row {
		h2,
		.close {
			color: #000;
		}
	}
	.city-edit-wrapper {
		.header-row {
			h3,
			.close {
				color: #000;
			}
		}
		mat-form-field {
			margin-right: 15px;
			margin-bottom: 15px;
		}
	}
  button{
    float: right;
    margin-left: 15px;
  }

  button:disabled {
    height: 37px;
    background-color: #7c7979!important;
    text-transform: uppercase;
    border: 0;
  }
}