<div class="upload-pane">
    <div class="header-row mb-4 d-flex justify-content-center align-items-center">
        <h2 class="w-100 mb-0">{{screenName}}</h2>
        <span class="close material-icons" (click)="cancel()">close</span>
    </div>
    <div elem="doc-description">
        <p elem="required-fields" [innerHTML]="description"></p>
    </div>
    <div elem="doc-content">
        <div elem="doc-upload" (fileDropped)="onFileDropped($event)">
            <div elem="file-item" *ngIf='fileToUpload else elseBlock'>
                   <p>{{fileToUpload?.name}} - <mat-icon elem="close" svgIcon="close" (click)="removeFile()"></mat-icon></p>
            </div>
            <ng-template #elseBlock>
                <div elem="drag-fle-msg">
                    Drag files here
                    <br>
                    <span>- or -</span>
                </div>
            </ng-template>
            <input type="file" #fileDropRef (change)="fileBrowseHandler($event)"
                [ngClass]="(fileToUpload)? 'file-selected' : 'custom-file-input'" title=" ">
        </div>
    </div>
    <div class="w-100 d-flex justify-content-end mt-3">
        <div class="d-block w-100">
            <button mat-flat-button type="button" class="button primary mr-2 "  (click)="onUpload()"[disabled]='!(fileToUpload)'>UPLOAD</button>
            <button mat-flat-button type="button" class="button primary" (click)="cancel()">CANCEL</button>
        </div>
    </div>
</div>